<%- include('navbar') -%>
<head>
	<title>Stats | Contact</title>
	<meta name="description" content="Contact with @ZonianMidian" />
	<meta property="og:title" content="Stats | Contact" />
	<meta property="og:image" content="<%= avatar %>" />
	<meta property="og:description" content="Contact with @ZonianMidian" />
</head>
<body>
	<div class="text-center margin">
		<h1>Contact</h1>
		<blockquote class="blockquote margin">
			<img src="<%= avatar %>" draggable="false" title="<%= name %>" alt="<%= name %>" style="height: 10em" />
			<h1 class="title"><%= name %></h1>
			<div class="socials">
				<a href="https://x.com/ZonianMidian" class="fa-brands fa-x-twitter" data-umami-event="socials-twitter"></a>
				<a href="https://twitch.tv/ZonianMidian" class="fa-brands fa-twitch" data-umami-event="socials-twitch"></a>
				<a href="https://github.com/ZonianMidian" class="fa-brands fa-github" data-umami-event="socials-github"></a>
				<a href="https://discord.gg/rMjftZx8Ex" class="fa-brands fa-discord" data-umami-event="socials-discord"></a>
			</div>
			<p>Contact me for questions or suggestions :P</p>
		</blockquote>
	</div>
</body>
