<%- include('navbar') -%>
<head>
    <title>Stats | Contact</title>
    <meta name="description" content="Contact with @ZonianMidian" />
    <meta property="og:title" content="Stats | Contact" />
    <meta property="og:image" content="<%= avatar %>" />
    <meta property="og:description" content="Contact with @ZonianMidian" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
</head>
<body>
    <div class="text-center margin">
        <h1>Contact</h1>
        <blockquote class="blockquote margin">
            <img
                src="<%= avatar %>"
                draggable="false"
                title="<%= name %>"
                alt="<%= name %>"
                style="height: 10em"
            />
            <h1 class="title"><%= name %></h1>
            <div class="socials">
                <a
                    target="_BLANK"
                    href="https://twitter.com/ZonianMidian"
                    class="fa-brands fa-twitter"
                ></a>
                <a
                    target="_BLANK"
                    href="https://www.twitch.tv/ZonianMidian"
                    class="fa-brands fa-twitch"
                ></a>
                <a
                    target="_BLANK"
                    href="https://www.github.com/ZonianMidian"
                    class="fa-brands fa-github"
                ></a>
                <a
                    target="_BLANK"
                    href="https://discord.com/users/651500580161716224"
                    class="fa-brands fa-discord"
                ></a>
            </div>
            <p>Any questions or suggestions are welcome ;)</p>
        </blockquote>
    </div>
</body>
