<%- include('navbar') -%>
<head>
    <title>Stats | Contact</title>
    <meta name="description" content="Contact with @ZonianMidian" />
    <meta property="og:title" content="Stats | Contact" />
    <meta property="og:image" content="<%= avatar %>" />
    <meta property="og:description" content="Contact with @ZonianMidian" />
</head>
<body>
    <div class="text-center margin">
        <h1>Contact</h1>
        <blockquote class="blockquote margin">
            <img
                src="<%= avatar %>"
                draggable="false"
                title="<%= name %>"
                alt="<%= name %>"
                style="height: 10em"
            />
            <h1 class="title"><%= name %></h1>
            <div class="socials">
                <a
                    target="_BLANK"
                    href="https://x.com/ZonianMidian"
                    class="fa-brands fa-x-twitter"
                ></a>
                <a
                    target="_BLANK"
                    href="https://www.twitch.tv/ZonianMidian"
                    class="fa-brands fa-twitch"
                ></a>
                <a
                    target="_BLANK"
                    href="https://www.github.com/ZonianMidian"
                    class="fa-brands fa-github"
                ></a>
                <a
                    target="_BLANK"
                    href="https://discord.gg/rMjftZx8Ex"
                    class="fa-brands fa-discord"
                ></a>
            </div>
            <p>Contact me for questions or suggestions :P</p>
        </blockquote>
    </div>
</body>
